*.pyc
*.pyo
__pycache__
*.so
*.o

*.egg
*.egg-info
*.pytorch
*.pt
Cython/Compiler/*.c
Cython/Plex/*.c
Cython/Runtime/refnanny.c
Cython/Tempita/*.c
checkpoints/*
Tools/*.elc

BUILD/
build/
!tests/build/
dist/
.gitrev
.coverage
*.orig
*.rej
*.dep
*.swp
*~

.tox

*.pydevproject
.project
.metadata

*.png
*.lprof
demo_out/*
dev/*
checkpoints/*
media/*